<!DOCTYPE html>
<html lang ='en'>
  <head>
    <title>Skill Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
<div class="container">
  <div class="list-group">
  <h2><a href="#" class="list-group-item active">My Skills</a><h2>
      <div class="list-unstyled">
        <div class="list-group">
          <div id='skills'>
            <div class="well well-lg">
      <% @skills.each do |skill| %>
      <div id="skill-<%= skill.id %>">
      <button type="button" class="list-group-item">
        <a class="text-danger" href="/skills/<%= skill.id %>"><%= skill.name %></a>
      </button>
      <div class="list-unstyled list-inline">
        <a class="btn btn-primary btn-active" href="/skills/<%= skill.id %>/edit" role="button">Edit</a>
        <form action="/skills/<%= skill.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-success">Delete</button>
        </form>
      </div>
      <% end %>
  </div>
  </div>
  </div>
</div>
  </div>
</div>
</div>
